@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display");

body{
    background-image: radial-gradient(circle, #FFDAB9, #C8A2C8);
    font-family: 'Work Sans', sans-serif;
}
#demo{
    background-color: #FFDAB9;
}
.judul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    float: left;
    margin-right: 2%;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.align-middle{
    font-weight: lighter;
    text-align: center;
}